name: Java CI

on:
  schedule:
    - cron: '42 0 * * 4'
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'
      - name: Build & run tests with Maven
        run: ./mvnw -V verify
